Package: bzip2-doc
Source: bzip2
Version: 1.0.6-9
Architecture: all
Maintainer: Anibal Monsalve Salazar <anibal@debian.org>
Installed-Size: 592
Depends: dpkg (>= 1.15.4) | install-info
Replaces: bzip2 (<< 1.0.4-0ubuntu2)
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: https://web.archive.org/web/20180801004107/http://www.bzip.org/
Description: high-quality block-sorting file compressor - documentation
 This package contains the bzip2 user manual in HTML, PDF, PS and Texinfo
 formats.
 .
 bzip2 is a freely available, patent free, data compressor.
 .
 bzip2 compresses files using the Burrows-Wheeler block-sorting text
 compression algorithm, and Huffman coding.  Compression is generally
 considerably better than that achieved by more conventional
 LZ77/LZ78-based compressors, and approaches the performance of the PPM
 family of statistical compressors.
 .
 The archive file format of bzip2 (.bz2) is incompatible with that of its
 predecessor, bzip (.bz).
